
:host {
    text-align: center;
  
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.item {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
}