<div *ngIf="this.selectedPlayerService.selected$ | async as player" class="playercard">

    <h3 class="splitscreenh3">Player #{{player.id}} Details</h3>
    <div><span>id: </span>{{player.id}}</div>
    <div>
        <label>name:
          <input [(ngModel)]="player.name" placeholder="unnamed"/>
        </label>
    </div>
    <div>coins:{{player.coins ? player.coins : 0}}</div>
    <div>steps:{{player.steps ? player.steps : 0}}</div>
    <button (click)="onClose()">close</button>
    <button (click)="onSave(player)">safe</button>
 </div>
