:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.footer-badge{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  
  flex-grow: 1;
  flex-basis: auto;
  }
  
h1 {
  font-size: 3em;
}

.splitscreen-badge{
  display:flex;
  justify-content: space-evenly;
}

.headline-badge{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
  