<div class="arche">
  <div style="text-align:center" class="headline-badge">
    <h1>
      Microtope Dashboard
    </h1>
  </div>
  <div class="splitscreen-badge">
  <app-player-splitscreen-page></app-player-splitscreen-page>
  <app-team-splitscreen-page></app-team-splitscreen-page>
</div>
  <footer class="footer-badge ">
    Made with Love and Coffee. <br> Want to see more?
    <a href="https://github.com/twonki/microtope"> Visit the project repo!</a>
  </footer>
  </div>
<router-outlet></router-outlet>
  